
services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: meubanco
      POSTGRES_USER: meuusuario
      POSTGRES_PASSWORD: senhasecreta
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/create.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - app-network

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
    ports:
      - 4318:4318   # HTTP traces + metrics
      - 8888:8888   # Prometheus metrics
      - 13133:13133 # health check
    command: ["--config", "/etc/otelcol/config.yaml"]
    networks:
      - app-network

  datadog-agent:
    image: datadog/agent:latest
    environment:
      - DD_API_KEY=${DD_API_KEY}
      - DD_SITE=us5.datadoghq.com
      - DD_LOGS_ENABLED=true
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_CONTAINER_EXCLUDE_LOGS=name:datadog-agent,postgres,otel-collector
      - DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup:/host/sys/fs/cgroup:ro
    ports:
      - "8126:8126"
    networks:
      - app-network


  app:
    image: alexmarquesfa/oficina:latest
    container_name: postech-oficina-app
    restart: always
    ports:
      - "9091:9091"
    environment:
      DATASOURCE_URL: jdbc:postgresql://db:5432/meubanco
      DATASOURCE_USERNAME: meuusuario
      DATASOURCE_PASSWORD: senhasecreta
      JWT_KEY: 1kGCW3CtZfT/pSBWIMDWY7//RJk0As4VfEybjgbuOW4=
      DD_SERVICE: oficina
      DD_ENV: local
      DD_VERSION: 1.0.0
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_ENVIRONMENT: docker
      OTEL_ENDPOINT: http://otel-collector:4318
      OTEL_VERSION: 1.0.0
    depends_on:
      - db
    networks:
      - app-network


volumes:
  postgres_data:

networks:
  app-network:
