receivers:

  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu:
      memory:
      disk:
      filesystem:
      network:

processors:
  batch:


exporters:
  datadog:
    api:
      site: us5.datadoghq.com
      key: ${DD_API_KEY}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [datadog]

    metrics:
      receivers: [otlp, hostmetrics]
      processors: [batch]
      exporters: [datadog]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [datadog]
