apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres-svc.local-ns.svc.cluster.local:5432/oficinadb"
  SPRING_DATASOURCE_USERNAME: "userOficinaDb"
