apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: oficina-db-secret # Nome do Secret do Kubernetes que será criado pelo ESO
  namespace: oficina-ns
spec:
  refreshInterval: "1h" # Frequência com que o ESO verificará atualizações no segredo da AWS
  secretStoreRef:
    name: aws-secret-store # Refere-se ao SecretStore que acabamos de criar
    kind: SecretStore
  target:
    name: oficina-db-secret # Nome do Secret do Kubernetes a ser criado
    creationPolicy: Owner # O ESO gerenciará o ciclo de vida deste Secret
  data:
    - secretKey: SPRING_DATASOURCE_PASSWORD # Esta será a chave dentro do Secret do Kubernetes
      remoteRef:
        key: rds-academico-credentials-1 # Nome do segredo no AWS Secrets Manager
        property: password # Esta é a chave dentro do segredo do AWS Secrets Manager que contém a senha
