
name: CD Pipeline - Deploy

on:
  push:
    branches:
      - 'main'

jobs:
  publish-image:
    name: Publicar Imagem no Docker Hub
    uses: ./.github/workflows/reusable-publish-docker.yml
    secrets: inherit

  deploy-infrastructure:
    name: Deploy da Infraestrutura com Terraform
    needs: publish-image
    uses: ./.github/workflows/reusable-apply-terraform.yml
    secrets: inherit


  deploy-application:
    name: Deploy da Aplicação no Kubernetes
    needs: [publish-image, deploy-infrastructure]
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    with:
      image-tag: ${{ needs.publish-image.outputs.image-tag }}
    secrets: inherit