name: Build Phase

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Conceder permissão de execução ao Gradle
        run: chmod +x gradlew

      - name: Executar testes
        run: ./gradlew test

      - name: Executar build
        run: ./gradlew build

      - name: Upload de artefatos
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: build-artifacts
          path: build/libs/*.jar
          retention-days: 5